<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhs.mapper.PainterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lhs.entity.Painter">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="name" property="name" />
        <result column="head_url" property="headUrl" />
        <result column="painter_value" property="painterValue" />
        <result column="city" property="city" />
        <result column="is_auth" property="isAuth" />
        <result column="sex" property="sex" />
        <result column="birthday" property="birthday" />
        <result column="summary" property="summary" />
        <result column="create_time" property="createTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <resultMap id="voBaseResultMap" extends="BaseResultMap" type="com.lhs.entity.vo.PainterVO" >
        <result column="wx_openid" property="wxOpenid" />
        <result column="follow_count" property="followCount" />
        <result column="fans_count" property="fansCount" />
        <result column="painting_count" property="paintingCount" />
        <result column="sold_count" property="soldCount" />
    </resultMap>

    <sql id="voBaseSql">
        select p.*,
        (select sum(1) from painting where painter_id = p.id )as painting_count,
        (select sum(1) from painting where painter_id = p.id and `status`=1 )as sold_count,
        (select sum(1) from follow_painter where user_id = u.id )as follow_count,
        (select sum(1) from follow_painter where painter_id = p.id )as fans_count
        from painter p
        left join `user` u on u.id = p.user_id
        where p.del_flag = 1
    </sql>

    <select id="getById" resultMap="voBaseResultMap">
        select p.*,u.wx_openid
        from painter p
        left join user u
        on p.user_id = u.id
        where p.id = #{id}
        and p.del_flag != 1
    </select>

    <select id="getByUserId" resultMap="voBaseResultMap">
        select p.*,u.wx_openid
        from painter p
        left join user u
        on p.user_id = u.id
        where p.user_id = #{userId}
        and p.del_flag != 1
    </select>

    <select id="getByOpenid" resultMap="voBaseResultMap">
        select p.*,u.wx_openid
        from painter p
        left join user u
        on p.user_id = u.id
        where u.wx_openid = #{openid}
        and p.del_flag != 1
    </select>

    <select id="listPainter" resultMap="voBaseResultMap">
        <include refid="voBaseSql" />
        <if test="name != null" >
            and p.name LIKE CONCAT('%',#{name},'%')
        </if>
    </select>

    <select id="getDetailById" resultMap="voBaseResultMap">
        <include refid="voBaseSql" />
        and p.id = #{id}
    </select>

</mapper>
